
<form action="/api/users" method="POST" class="add_user">
    <div class="form-items">
        <label for="name" class="form-item">Name</label>
        <br>
        <input type="text" name="name" placeholder="Enter your name">
    </div>
    <div class="form-items">
        <label for="email" class="form-item">Email</label>
        <br>
        <input type="text" name="email" placeholder="@gmail.com">
    </div>
    <div class="form-items">
        <label for="gender" class="form-item">Gender</label>
        <br>
        <input type="radio" name="gender" value="male"><label>Male</label>
        <input type="radio" name="gender" value="female"><label>Female</label>
    </div>
    <div class="form-items">
        <label for="status" class="form-item">Status</label>
        <br>
        <input type="radio" name="status" value="Active"><label>Active</label>
        <input type="radio" name="status" value="Inactive"><label>InActive</label>
    </div>
    <div class="form-items" title="click to save details">
        <button type="submit" class="button">SAVE</button>
    </div>
</form>

